.container {
    -fx-background-color: #282828;
    -fx-text-fill: #ffffff;
}

.app-window {
    -fx-background-color: #282828;
    -fx-background-radius: 8px;
    -fx-background-insets: 0;
    -fx-border-color: #4D4D4D;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-padding: 3px;
}

.pane {
    -fx-background-color: #282828;
}

.label {
    -fx-text-fill: #ffffff;
}

.text {
    -fx-background-color: #3d3d3d;
    -fx-border-color: #323232;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
}

.text .content {
    -fx-background-color: #3d3d3d;
}

.button {
    -fx-background-color: #303030;
    -fx-border-width: 1px;
    -fx-border-color: #3B3B3B;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: #383838;
}

.button:pressed {
    -fx-background-color: #292929;
}

.table-view {
    -fx-background-color: #282828;
    -fx-table-cell-border-color: #373A40;
}

.table-view .column-header {
    -fx-background-color: #282828;
    -fx-text-fill: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
}

.table-view .placeholder .label {
    -fx-text-fill: #ffffff;
}

.table-view .table-cell {
    -fx-background-color: #282828;
    -fx-text-fill: #ffffff;
    -fx-table-cell-border-color: #808080;

}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #3B3B3B;
    -fx-table-cell-border-color: #808080;
}

.progress-bar {
    -fx-border-radius: 0px;
}

.progress-bar > .track {
    -fx-background-color: #3D3D3D;
}

.progress-bar > .bar {
    -fx-background-color: #c7d6ed;
}