.container {
    -fx-background-color: #222831;
    -fx-text-fill: #d9e8ff;
}

.app-window {
    -fx-background-color: #222831;
    -fx-background-radius: 8px;
    -fx-background-insets: 0;
}

.pane {
    -fx-background-color: #28303d;
}

.label {
    -fx-text-fill: #d9e8ff;
}

.text {
    -fx-background-color: #2b333d;
    -fx-border-color: #353e4a;
    -fx-border-radius: 5px;
    -fx-text-fill: #d9e8ff;
    -fx-background-radius: 5px;
}

.text .content {
    -fx-background-color: #2b333d;
}

.button {
    -fx-background-color: #2c3645;
    -fx-border-color: #353e4a;
    -fx-border-radius: 5px;
    -fx-text-fill: #d9e8ff;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #354052;
}

.button:pressed {
    -fx-background-color: #252f3d;
}

.table-view {
    -fx-background-color: #222831;
    -fx-table-cell-border-color: #373A40;
}

.table-view .column-header {
    -fx-background-color: #222831;
    -fx-text-fill: #d9e8ff;
}

.table-view .column-header .label {
    -fx-text-fill: #d9e8ff;
}

.table-view .placeholder .label {
    -fx-text-fill: #d9e8ff;
}

.table-view .table-cell {
    -fx-background-color: #222831;
    -fx-text-fill: #d9e8ff;
    -fx-table-cell-border-color: #495261;

}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #303742;
    -fx-table-cell-border-color: #495261;
}

.progress-bar {
    -fx-border-radius: 0px;
}

.progress-bar > .track {
    -fx-background-color: #2b333d;
}

.progress-bar > .bar {
    -fx-background-color: #c7d6ed;
}